<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>

    <add name="BIG_VMSEntities" connectionString="metadata=res://*/BIG_VMS_DB.csdl|res://*/BIG_VMS_DB.ssdl|res://*/BIG_VMS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.59.122.206;initial catalog=BIG_VMS;persist security info=True;user id=bigvms;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>