<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.94.0-rc1" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net40" />
  <package id="ExcelNumberFormat" version="1.0.6" targetFramework="net40" />
  <package id="FastMember" version="1.0.0.10" targetFramework="net40" />
</packages>